@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
:root {
    --dark: #2e2e2e; 
    --bg: #F6F6F8;
	--gray: #666666;
}

/* common */
img{
	max-width: 100%;
}

.w1550 {
	width: 100%;
	max-width: 1550px;
	margin: 0 auto;
	box-sizing: border-box;
}

.h2 {
	font-size: 54px;
	color: var(--dark);
	font-weight: 300;
	line-height: 1.4;
}

.h3 {
	font-size: 46px;
	color: var(--dark);
	font-weight: bold;
	line-height: 1.4;
}

/* header */
.header {
	width: 100%;
	height: auto;
	background-color: var(--bg);
	padding: 0 50px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #2e2e2e;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
}

.header .logo{width: 97px; height: 32px; background: url(../img/main/main_logo.png) no-repeat 50% 50%; background-size: cover;}
.header .logo a{width: 100%; display: inline-block; vertical-align: top; height: 100%;}


.header .gnb {
	width: calc(100% - 287px);
	/* background-color: tomato; */
}

.header .gnb > ul {
	display: flex;
	justify-content: center;
}

.header .gnb > ul > li {
	width: 25%;
	text-align: center;
	position: relative;
}

.header .gnb > ul > li > a {
	font-size: 18px;
	color: var(--dark);
	font-weight: 400;
	text-decoration: none;
	/* background-color: tomato; */
	line-height: 90px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.header .gnb > ul > li > ul {
	background-color: var(--dark);
	position: absolute;
	top: 90px;
	left: 0;
	width: 100%;
	display: none;
}


.header .gnb > ul > li > ul > li > a {
	font-size: 16px;
	font-size: 400;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-decoration: none;
	padding: 30px 0 30px 0;
	box-sizing: border-box;
	text-align: center;
}


.header .btn {
	width: 100%;
	max-width: 190px;
	border-radius: 95px;
	background-color: var(--dark);
	text-align: center;
	margin: 0 auto;
	/* margin-left: 85px; */
	margin-left: 0;
	overflow: hidden;
}

.header .btn:hover {
	background-color: var(--bg);
	border: 1px solid var(--dark);
	box-sizing: border-box;
}

.header .btn:hover a {
	color: var(--dark);
}

.header .btn a {
	font-size: 17px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	line-height: 44px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.header .m_btn span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width:30px;
	height: 3px;
	background-color: var(--dark);
	margin: 43px 0;
	transition: 0.5s;
}

.header .m_btn span::before {
	content: "";
	position: absolute;	
	width: 100%;
	height: 100%;
	top: -10px;
	background-color: var(--dark);
	transition: 0.5s;
}

.header .m_btn span::after {
	content: "";
	position: absolute;	
	width: 100%;
	height: 100%;
	top: 10px;
	background-color: var(--dark);
	transition: 0.5s;
}

.header .m_btn.on span{
	background-color: transparent;
}

.header .m_btn.on span:before{
	top: 0;
	transform: rotate(45deg);
	background-color: #fff;
}

.header .m_btn.on span:after{
	top: 0;
	transform: rotate(-45deg);
	background-color: #fff;
}


.m_btn {
	display: none;
}

.m_gnb {
	display: none;
}

/* section_01 */
.section_01 {
	width: 100%;
	height: 100vh;
	background-color: var(--bg);
	position: relative;
	border-bottom: 1px solid #2e2e2e;
	box-sizing: border-box;
}

.section_01 .ctn {
	display: flex;
	flex-wrap: wrap;
	/* 앱솔루트는 크기가 없어짐, 다시 지정해야함 */
	position: absolute;
	width: 100%;
	max-width: 1550px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	align-items: center;
	/* background-color: tomato; */
}

.section_01 .ctn .txt {
	width: calc(50% - 142px);
}

.section_01 .ctn .txt .h2 > span {
	font-weight: bold;
}

.section_01 .ctn .txt p {
	font-size: 20px;
	color: var(--gray);
	font-weight: 400;
	line-height: 1.4;
	margin: 40px 0;
}

.section_01 .ctn .txt > .btn {
	position: relative;
	background-color: transparent;
	width: 216px;
	border: 1px solid #2e2e2e;
}

.section_01 .ctn .txt > .btn:hover {
	background-color: var(--dark);
	transition: 0.3s all;
}

.section_01 .ctn .txt > .btn .title {
	font-size: 18px;
	font-weight: 400;
	color: var(--dark);
	text-align: center;
	line-height: 50px;
	margin: 0;
}

.section_01 .ctn .txt > .btn:hover .title {
	color: var(--bg);
	transition: 0.3s all;
}

.section_01 .ctn .txt > .btn a {
	/* background-color: tomato; */
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
}

.section_01 .ctn .slide {
	width: calc(50% + 142px);	
}

.section_01 .ctn .slide img {
	border: 1px solid #2e2e2e;
	box-sizing: border-box;
}

/* section_02 */
.section_02 {
	background-color: #fff;
	padding: 120px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #2e2e2e;
}

.section_02 p {
	font-size: 24px;
	color: var(--dark);
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 58px;
}

.section_02 p span {
	font-weight: bold;
}

.section_02 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section_02 ul li {
	margin-right: 54px;
}

.section_02 ul li:last-child {
	margin-right: 0;
}

.section_02 ul li img {
	width: 100%;
	border: 1px solid var(--dark);
    border-radius: 57px;
    box-sizing: border-box;
}

/* section_03 */
.section_03 {
	background-color: var(--bg);
	border-bottom: 1px solid #2e2e2e;
	box-sizing: border-box;
	padding: 120px 0;
}

.section_03 .ctn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.section_03 .ctn .txt {
	width: 50%;
	/* background-color: tomato; */
}

.section_03 .ctn .txt .h3 {
	margin-bottom: 40px;
}

.section_03 .ctn .txt p {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.4;
	color: var(--dark);
	margin-bottom: 40px;
}

.section_03 .ctn .txt .p2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	color: var(--gray);
}

.section_03 .ctn .bottom_link {
	display: flex;
	align-items: center;
	width: 100%;
}

.section_03 .ctn .bottom_link dt {
	width: 58px;
	padding-right: 12px;
	box-sizing: border-box;
}

.section_03 .ctn .bottom_link dd {
	width: calc(100% - 70px);
	color: var(--dark);
	text-decoration: none;
	font-size: 16px;
}

.section_03 .ctn .pd_img {
	width: 50%;
}
.section_03 .ctn .pd_img img {
	width: 100%;
	border: 1px solid #2e2e2e;
	box-sizing: border-box;
}

/* section_04 */
.section_04 {
	background-color: #fff;
}

.section_04 .txt {
	order: 2;
	/* background-color: tomato; */
	padding-left: 50px;
	box-sizing: border-box;
}

.section_04 .pd_img img {
}

/* section_05 */
.section_05 {}

/* section_06 */
.section_06 {
	background-color: #fff;
	padding-top: 120px;
	box-sizing: border-box;
}

.section_06 .ctn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.section_06 .ctn .water {
	width: 533px;
	border: 1px solid #2e2e2e;
	box-sizing: border-box;
}

.section_06 .ctn .txt {
	width: calc(100% - 533px);
	background-color: var(--dark);
	padding-left: 100px;
	box-sizing: border-box;
}

.section_06 .ctn .txt p {
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	line-height: 1.4;
	margin: 76px 0 40px 0;
}

.section_06 .ctn .txt h4 {
	font-size: 48px;
	color: #fff;
	font-weight: 500;
	line-height: 1.4;
    margin-bottom: 118px;
}

.section_06 .ctn .txt .read_more {
	margin-bottom: 80px;
}

.section_06 .ctn .txt .read_more a {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	line-height: 1.4;
	text-decoration: none;
}

/* section_07 */
.section_07 {
	padding: 120px 0;
	box-sizing: border-box;
	background-color: #fff;
}

.section_07 .ctn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.section_07 .ctn .box {
	background-color: var(--bg);
	border: 1px solid #2e2e2e;
	width: calc(50% - 20px);
	padding: 70px 60px;
	box-sizing: border-box;
	position: relative;
}

.section_07 .ctn .box h5 {
	font-size: 26px;
	font-weight: bold;
	line-height: 1.4;
	color: var(--dark);
	margin-bottom: 34px;
}

.section_07 .ctn .box p {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	color: var(--gray);
	margin-bottom: 60px;
}

.section_07 .ctn .box .read_more {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	color: var(--dark);
}

.section_07 .ctn .box a {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	/* background-color: tomato; */
	top: 0%;
	left: 0;
}

/* footer */
.footer {
	width: 100%;
	background-color: var(--dark);
	padding: 120px 0 120px 0;
	box-sizing: border-box;
}

.footer .ctn {
	display: flex;
	align-items: flex-start;

}

.footer .ctn .info {
	/* background-color: tomato; */
	width: calc(50% - 245px);
}

.footer .ctn .info .f_logo {
	width: 100%;
	margin-bottom: 32px;
}

.footer .ctn .info p {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 20px;
}

.footer .ctn .f_nav {
	/* background-color: pink; */
	width: calc(50% + 245px);
	display: flex;
}

.footer .ctn .f_nav dl {
	width: 25%;
	/* background-color: rebeccapurple; */
}

.footer .ctn .f_nav dl dt {
	font-size: 17px;
	color: #fff;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 30px;
}

.footer .ctn .f_nav dl dd {
	margin-bottom: 20px;
}

.footer .ctn .f_nav dl dd:last-child {
	margin-bottom: 0;
}

.footer .ctn .f_nav dl dd a {
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	line-height: 1.4;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	/* background-color: tomato; */
	padding: 5px 0 5px 0;
	box-sizing: border-box;
}

/* animation */
.ani {
	opacity: 0;
}

.section_01 .ctn .txt { 
	animation: fadeRight 0.5s 0.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_01 .ctn .slide { 
	animation: scale 0.5s 0.6s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 p.on {
	animation: fadeDown 0.5s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 ul.on {
	animation: fadeDown 0.5s 0.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 ul.on li:nth-child(1) {
	animation: scale 0.5s 0.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 ul.on li:nth-child(2) {
	animation: scale 0.5s 0.4s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 ul.on li:nth-child(3) {
	animation: scale 0.5s 0.6s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 ul.on li:nth-child(4) {
	animation: scale 0.5s 0.8s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_02 ul.on li:nth-child(5) {
	animation: scale 0.5s 1s cubic-bezier(0.61, 1, 0.88, 1) both;
} 

.section_02 ul.on li:nth-child(6) {
	animation: scale 0.5s 1.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_03 .ctn .pd_img.on {
	animation: scale 1.4s 0.2s cubic-bezier(0.61, 1, 0.88, 1) both;
} 

.section_06 .ctn .water.on {
	animation: fadeRight 0.5s 0.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_06 .ctn .txt.on {
	animation: fadeLeft 0.5s 0.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}
.section_03 .ctn .txt .h3.on{opacity: 1;}
.section_03 .ctn .txt .h3.on span{display:inline-block; vertical-align: top; animation: fadeIn 1.4s 0.1s cubic-bezier(0.61, 1, 0.88, 1) both; }
/*.section_03 .ctn .txt .h3.on span:nth-child(2){animation-delay: 0.3s;}
.section_03 .ctn .txt .h3.on span:nth-child(3){animation-delay: 0.4s;}
.section_03 .ctn .txt .h3.on span:nth-child(4){animation-delay: 0.5s;}
.section_03 .ctn .txt .h3.on span:nth-child(5){animation-delay: 0.6s;}
.section_03 .ctn .txt .h3.on span:nth-child(6){animation-delay: 0.7s;}
.section_03 .ctn .txt .h3.on span:nth-child(7){animation-delay: 0.8s;}
.section_03 .ctn .txt .h3.on span:nth-child(8){animation-delay: 0.9s;}
.section_03 .ctn .txt .h3.on span:nth-child(9){animation-delay: 1s;}
.section_03 .ctn .txt .h3.on span:nth-child(10){animation-delay: 1.1s;}
.section_03 .ctn .txt .h3.on span:nth-child(11){animation-delay: 1.2s;}
.section_03 .ctn .txt .h3.on span:nth-child(12){animation-delay: 1.3s;}
.section_03 .ctn .txt .h3.on span:nth-child(13){animation-delay: 1.4s;} */

.section_03 .ctn .txt.on {
	opacity: 1;
}

.section_03 .ctn .txt.on p {
	animation: fadeDown 0.5s 1.8s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_03 .ctn .txt.on .p2 {
	animation: fadeDown 0.5s 2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

.section_03 .ctn .txt.on .bottom_link {
	animation: fadeDown 0.5s 2.2s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@keyframes fadeRight {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeLeft {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(80px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes fadeDown {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes scale {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes width {
	0% {
		opacity: 0;
		width: 0;
	}

	100% {
		opacity: 1;
		max-width: 100%;
	}
}

@media screen and (max-width: 1550px) {
	.w1550 {
		padding: 0 50px;
	}

	.section_01 .ctn {
		padding: 0 50px;
		box-sizing: border-box;
	}

	.section_02, .section_03, .section_07, .footer {
		padding: 90px 0;
	} 

	.section_06 {
		padding-top: 90px;
	}

	.section_06 .ctn .txt p {
		margin: 76px 0 58px 0;
	}

	.section_06 .ctn .txt h4 {
		font-size: 42px;
		margin-bottom: 116px;
	}

	.section_07 .ctn .box {
		padding: 60px 50px;
	}

	.section_07 .ctn .box h5 {
		font-size: 23px;
	}

	.section_07 .ctn .box p {
		font-size: 18px;
		margin-bottom: 30px;
		overflow: hidden;
    	text-overflow: ellipsis;
    	display: -webkit-box;
    	-webkit-line-clamp: 3;
    	-webkit-box-orient: vertical;
		word-break: keep-all;
	}

	.section_07 .ctn .box p br {
		display: none;
	}
}

@media screen and (max-width: 1400px) {

	.section_01 {
		height: 80vh;
	}

	.section_01 .ctn .txt {
		width: calc(50% - 40px);
		margin-right: 40px;
	}

	.section_01 .ctn .txt p {
		margin: 30px 0;
	}

	.section_01 .ctn .txt > .btn .title {
		line-height: 50px;
	}

	.section_01 .ctn .slide {
		width: 50%;
	}

	.section_02, .section_03, .section_07, .footer {
		padding: 60px 0;
	}

	.section_02 p {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.section_03 .ctn .txt {
		width: calc(50% - 40px);
		margin-right: 40px;
	}

	.section_03.section_04 .ctn .txt {
		margin-right: 0;
	}

	.section_03 .ctn .txt .h3 {
		font-size: 40px;
	}
	
	.section_03 .ctn .txt p {
		font-size: 21px;
	}	

	.section_06 {
		padding-top: 60px;
	}

	.section_06 .ctn .txt {
		padding-left: 60px;
	}

	.section_06 .ctn .txt h4 {
		font-size: 32px;
		margin-bottom: 138px;
	}

	.section_06 .ctn .txt .read_more {
		margin-bottom: 86px;
	}

	.section_07 .ctn .box {
		padding: 50px;
	}

	.section_07 .ctn .box h5 {
		font-size: 22px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	
	.section_07 .ctn .box p {
		font-size: 18px;
		-webkit-line-clamp: 2;
	}
}

/* 1200px부터는 padding 모바일 처럼 16px */
/* header, w1550, .sectionn01 .ctn에 padding: 0 16px */
@media screen and (max-width: 1200px) {
	.header {
		height: 90px;
		padding: 0 16px;
		position: fixed;
	}

	.header .gnb {
		width: calc(100% - 137px);
	}

	.header .gnb > ul {
		display: none;
	}

	.header .btn {
		display: none;
	}

	.m_btn {
		display: block;
		z-index: 2;
	}

	.w1550 {
		padding: 0 16px;
	}

	.section_01 .ctn {
		padding: 0 16px;
	}

	.section_03 .ctn .txt .h3 {
		font-size: 38px;
	}

	.section_03 .ctn .txt p {
		font-size: 20px;
	}

	.section_03 .ctn .txt .p2 {
		font-size: 16px;
		margin-bottom: 34px;
	}

	.footer .ctn {
		justify-content: center;
	}

	.footer .ctn .info {
		text-align: center;
	}
	
	.footer .ctn .f_nav {
		display: none;
	}

	.header .m_btn {
		position: fixed;
		top: 0;
		right: 16px;
	}

	.header .m_gnb {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: -100%;
		/* right: 0%; */
		background-color: var(--dark);
		box-sizing: border-box;
		transition: 0.8s;
	}
	.header .m_gnb.on{
		right: 0%;
	}

	.header .m_gnb > ul { 
		text-align: right;
		display: flex;
		justify-content: center;            
		margin-top: 300px;
	}

	.header .m_gnb > ul > li { 
		width: 25%;
		text-align: center;
	}
	
	.header .m_gnb > ul > li > .title {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 40px;
	}

	.header .m_gnb > ul > li:last-child > .title {
		margin-right: 0;
	}

	.header .m_gnb > ul > li > a {
		text-decoration: none;
		color: #fff;
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4;
	}

	.header .m_gnb > ul > li > ul {
		/* display: none; */
	}

	.header .m_gnb > ul > li > ul > li > a {
		display: block;
		font-size: 22px;
		font-weight: 400;
		line-height: 1.4;
		color: #fff;
		text-decoration: none;
		text-align: center;
		margin-bottom: 10px;
	}

	.header .m_gnb > ul > li > ul > li > a:last-child {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 1080px) {
	.h2 {
		font-size: 50px;
	}

	.section_01 {
		height: auto;
		padding: 40px 0 40px 0;
	}

	.section_01 .ctn {
		padding: 0;
	}

	.section_01 .ctn {
		position: static;
		transform: translate(0);
		padding-top: 100px;
	}

	.section_01 .ctn .txt {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}

	.section_01 .ctn .txt h2 {
		font-size: 38px;
	}

	.section_01 .ctn .txt p {
		font-size: 18px;
	}

	.section_01 .ctn .txt > .btn {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.section_01 .ctn .slide {
		width: 100%;
	}

	.section_01 .ctn .slide img {
		width: 100%;
	}

	.section_02 p {
		font-size: 18px;
    	word-break: keep-all;
		margin-bottom: 60px;
	}

	.section_02 ul {
		max-width: 700px;
		margin: 0 auto;
	}

	.section_02 ul li {
		width: calc(33.33% - 20px);
		margin: 0 30px 30px 0;
	}

	.section_02 ul li:nth-child(3n) {
		margin-right: 0;
	}

	.section_02 ul li img {
		border-radius: 50%;
	}

	.section_03 .ctn .txt {
		width: 100%;
		margin-bottom: 40px;
		margin-right: 0;
	}

	.section_03 .ctn .txt .h3 {
		font-size: 34px;
	}

	.section_03 .ctn .txt .h3 br {
		display: none;
	}

	.section_03 .ctn .txt p {
		word-break: keep-all;
		margin-bottom: 22px;
	}

	.section_03 .ctn .txt p br {
		display: none;
	}

	.section_03 .ctn .txt .p2 {
		margin-bottom: 20px;
	}	

	.section_03 .ctn .pd_img {
		width: 100%;
	}
	
	.section_04 .txt {
		order: 0;
		padding-left: 0;
	}

	.section_04 .ctn .txt p {
		word-break: keep-all;
	}

	.section_04 .ctn .txt .p2 {
		word-break: keep-all;
	}

	.section_06 .ctn .water {
		width: 100%;
	}

	.section_06 .ctn .water img { 
		width: 100%;
	}

	.section_06 .ctn .txt {
		width: 100%;
    	margin-top: 60px;
		padding-left: 0;
		text-align: center;
	}

	.section_06 .ctn .txt p {
		margin: 60px 0 40px 0;
	}

	.section_06 .ctn .txt h4 {
		font-size: 28px;
		margin-bottom: 50px;
	}

	.section_06 .ctn .txt .read_more {
		margin-bottom: 60px;
	}

	.section_07 .ctn .box {
		width: 100%;
		margin-bottom: 40px;
	}

	.section_07 .ctn .box:last-child {
		margin-bottom: 0;
	}

	.footer .ctn .info {
		width: 100%;
	}

	.footer .ctn .info p {
		font-size: 16px;
	}
}

@media screen and (max-width: 800px) {
	.section_03 .ctn .txt .h3 {
		font-size: 26px;
		word-break: keep-all;
	}

	.section_03 .ctn .txt p {
		font-size: 18px;
	}

	.section_07 .ctn .box {
		padding: 30px; 
	}

	.section_07 .ctn .box h5 {
		font-size: 18px;
	}

	.section_07 .ctn .box h5 br {
		display: none;
	}

	.section_07 .ctn .box p {
		font-size: 16px;
	}

	.section_07 .ctn .box p br {
		display: none;
	}

	.header .m_gnb > ul{
		flex-wrap: wrap;
		align-items: center;
		margin-top: 90px;
	}

	.header .m_gnb > ul > li{
		width: 100%;
		text-align: right;
	}

	.header .m_gnb > ul > li > .title{
		font-size: 24px;
		margin-bottom: 20px;
		padding-right: 16px;
		box-sizing: border-box;
	}

	.header .m_gnb > ul > li > ul{
		display: none;
	}

	.header .m_gnb > ul > li > ul > li > a{
		text-align: right;
		font-size: 16px;
		margin-bottom: 20px;
		padding-right: 16px;
		box-sizing: border-box;
	}

}

@media screen and (max-width: 500px) {
	.section_01 .ctn .txt h2 {
		font-size: 32px;
	}

	.section_01 .ctn .txt > .btn {
		width: 200px;
	}

	.section_01 .ctn .txt > .btn .title {
		font-size: 16px;
		line-height: 40px;
	}
}

